body{
  color:#333;
  font-size: 14px;
  font-weight: 500;
}

.Header{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position:absolute;
}

@media screen and (max-width: 767px){
  .Header{
    padding: 15px 0;
  }
}


.HeaderContainer{
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
  max-width: 100%;
  position: relative;
}

@media screen and (max-width: 767px){
  .HeaderContainer{
    max-width: 100%;
    margin: 0 20px;
  }
}

.HeaderLogo_img{
  display:block;
  height: 20px;
  width: auto;
}

.HeaderLogo_img:hover{
  opacity: .8;
}

@media screen and (max-width: 1080px){
  .Headernavi_humburger{
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
}

@media screen and (max-width: 1080px){
  .HeaderNaviHumburger_line:first-child{
    top: 0;
  }
}

@media screen and (max-width: 1080px){
  .HeaderNaviHumburger_line:last-child{
    top:100%;
  }
}

@media screen and (max-width: 1080px){
  .HeaderNaviHumburger_line{
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transform: translate(0,50%);
    border-radius: 10px;
    transition: top .2s,transform .2s,opacity .3s;
    
  }
}


.HeaderContainer >:last-child{
  display: inline-block;
}

.Header_item{
  margin-right: 45px
}

.Header_item:hover{
  opacity: .8;
}

.HeaderNaviLists{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1080px){
  .HeaderNaviLists{
    overflow-y: scroll;
    position: fixed;
    left: 100%;
    width: 100%;
    display: block;
    transition: transform .5s;
    z-index: 99;
    background-color: rgba(0,0,0,8);
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
}

.HeaderNaviLists li{
  list-style: none;
}



.Header_Navi_item >span{
  display: block;
  font-weight: 700;
  text-align: center;
}

.Header_Navi_item >span:last-child{
  font-size: 10px;
}

.Header_Navi_item:last-of-type{
  margin-right: 0;
}

@media screen and (max-width: 1080px){
  .Header_Navi_item > span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
  }
}

@media screen and (max-width: 1080px){
  .Header_Navi_item > span:last-child{
    font-size: 12px;
    margin-top: 10px;
    color: #f79214;
    letter-spacing: 2px;
  }
}


.Header_Navi_button{
  align-items: center;
  background-color: #f79214;
  border: none;
  border-radius: 38px;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 12px;
  height: 40px;
  padding:0 20px;
}

@media screen and (max-width: 1080px){
  .Header_Navi_button{
    font-size: 16px;
    margin: o auto;
    height: 60px;
    width: 250px;
  }
}

.HeaderContainer a{
  color: #333;
  text-decoration: none;
}

.main{
  display: block;
}

@media screen and (max-width: 767px){
  main{
    padding-top: 52px;
  }
}

@media screen and (max-width: 1080px){
  .main{
    padding-top: 60px;
  }
}

.FirstView{
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 28px;
}

.FirstView img{
  border: 0;
  vertical-align: center;
  padding-top: 50px;
}

.main_image--sp{
  display: none;
}

.main_image{
  width: 100%;
}

@media screen and (max-width: 767px){
  .FirstView{
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 767px){
  .main_image--sp{
    display: block;
  }
}

.FirstView_container{
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media screen and (max-width: 767px){
  .FirstView_container{
    margin-top: -45vw;
    max-width: none;
    padding: 0 20px;
  }
}

.FirstView_title{
  margin-bottom: 70px;
  width: fit-content;
}

@media screen and (max-width: 767px){
  .FirstView_title{
    margin-bottom: 20px;
    width: 100%;
  }
}

.FirstViewContext{
  color: #333;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 767px){
  .FirstViewContext{
    font-size: 25px;
    line-height: 36px;
  }
}

.Firstview_images{
  margin-bottom: 25px;
}

.Firstview_images img:nth-of-type(2){
  width: 40%;
}

@media screen and (max-width: 767px){
  .Firstview_images{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .Firstview_images img{
    width: 27.5%;
  }
}


.FirstView_button{
  display:flex;
}

.FirstView_button:hover{
  opacity: .8;
}

@media screen and (max-width: 767px){
  .FirstView_button{
    flex-direction: column;
  }
}


.FirstView_button a:first-of-type{
  margin-right: 15px;
  width: 300px;
}

@media screen and (max-width: 767px){
  .FirstView_button a:first-of-type{
    margin-right: 0px;
  }
}


.FirstView_button a{
  align-items: center;
  background-color: #f79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 1080px){
  .FirstView_button a{
    width: 100%!important;
  }
}


.FirstView_button a:last-of-type{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  color: #333;
  width: 170px;
}

@media screen and (max-width: 767px){
  .FirstView_button a:last-of-type{
    display:none;
  }
}


.cation{
  color: #a2a2a4;
  font-size: 12px;
}

.cation a{
  color: #a2a2a4;
}

.AboutWrapper{
  background-color: #f79214;
  padding:44px 0;
}

.About{
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px){
  .About{
    flex-direction: column;
  }
}

@media screen and (max-width: 767px){
  .About{
    max-width: none;
    padding: 0 20px;
  }
}

.About_video{
  width: 50%;
}

@media screen and (max-width: 767px){
  .About_video{
    width: 100%;
  }
}

@media screen and (max-width: 1024px){
  .About_video{
    margin-bottom: 16px;
    width: 75%;
  }
}


.About_title{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 0;
  margin-left: 32px;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 767px){
  .About_title{
    margin-bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1024px){
  .About_title{
    margin-left: 0;
    width: 75%;
  }
}

.About_title h2{
  font-size: 38px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 54px;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 400px){
  .About_title h2{
    font-size:  33px;
    line-height: 1.4;
    white-space: pre;
    word-break: keep-all;
  }
}

@media screen and (max-width: 767px){
  .About_title h2 span{
    letter-spacing: 1px;
  }
}

.About_title br{
  display: none;
}

@media screen and (max-width: 400px){
  .About_title br {
    display: block;}
}


.About_title p{
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

.About_button{
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}

.About_button > img{
  margin-right: 5px;
}
